@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&family=Roboto:wght@100&display=swap');
body {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}
#list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;
  width: 130px;
  height: 32px;
}

#list ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px;
  margin: 3px;
  gap: 15px;
  position: absolute;
  left:35%;
  top:0%;
  font-size: 14pt;
}

#list li {
  list-style-type: none;
}

#list a {
  color: black;
  padding:5px;
  text-decoration:none;
}

#list a:hover, #list a.color {
  color: teal;
  background-color: cyan;
}

.icon {
  position: absolute;
  left: 95%;
  top:0%;
}

#history {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px;
  margin:0px;
  width:200px;
  height:70px;
  position: absolute;
  left:300px;
  top:100px;
}

.all__players {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  width:1300px;
  height:100px;
  position: absolute;
  top: 75px;
  font-weight: bold;
  font-size:18px;
}

.date {
  display:flex;
  flex-direction:row;
  position:absolute;
  left: 730px;
}

.time {
  display:flex;
  flex-direction:row;
  position:absolute;
  left: 1000px;
}

.zero1 {
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:0px;
  margin:0px;
  width:20px;
  height:20px;
  position:absolute;
  top:100px;
  left:0;
}

.igrok1 {
  display:flex;
  flex-direction:column;
  position:absolute;
  left:30px;
  top:83px;
  font-weight: normal;
  font-size:18px;
}

.kubok {
  display:flex;
  flex-direction: column;
  align-items:center;
  position:absolute;
  top:95px;
  left:150px;
}

.protiv {
  display:flex;
  flex-direction:column;
  align-items:center;
  position:absolute;
  top:83px;
  left:235px;
}

.igrok12 {
  display:flex;
  flex-direction:column;
  position:absolute;
  top:83px;
  left:350px;
  font-weight: normal;
}

.cross1 {
  display:flex;
  flex-direction:column;
  position:absolute;
  width:20px;
  height:20px;
  top: 102px;
  left:325px;
}

.date1 {
  display:flex;
  flex-direction:column;
  position:absolute;
  width:150px;
  left:675px;
  top:85px;
  font-weight: normal;
  font-family: 'Roboto';
}

.time1 {
  display:flex;
  flex-direction:column;
  position:absolute;
  width:150px;
  top:85px;
  left:990px;
  font-weight: normal;
  font-family: 'roboto';
}

.cross2 {
  display:flex;
  flex-direction:column;
  position:absolute;
  width:20px;
  height:20px;
  top:175px;
  left:0px;
}

.igrok2 {
  display:flex;
  flex-direction:column;
  font-weight: normal;
  position:absolute;
  width:150px;
  top:155px;
  left:30px;
  font-size:18px;
}

.kubok2 {
  display:flex;
  flex-direction:column;
  position:absolute;
  top:170px;
  left:140px;
}

.protiv2{
  display:flex;
  flex-direction:column;
  position:absolute;
  top:150px;
  left:235px;
}

.zero2 {
  display:flex;
  flex-direction: column;
  align-items:center;
  padding:0px;
  margin:0px;
  width:20px;
  height:20px;
  position:absolute;
  top:170px;
  left:325px;
}

.igrok22{
  display:flex;
  flex-direction:column;
  position:absolute;
  width:150px;
  top:152px;
  left:350px;
  font-weight: normal;
}

.date2 {
  display:flex;
  flex-direction:column;
  font-weight: normal;
  font-family: 'roboto';
  position:absolute;
  top:152px;
  left:675px;
}

.time2{
  display:flex;
  flex-direction:column;
  font-weight: normal;
  font-family: 'roboto';
  position:absolute;
  top:152px;
  left:990px;
}